<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week_3_lists_and_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3
# **Variables and lists**

#### **Learning Goals**
* Learn about lists (15 mins)
* Learn how to assign variables (10 mins)
* Do some math calculations! (15 mins)

#### **Icebreaker!**
<img src='https://drive.google.com/uc?id=10o4W7pFpFvN6hspQjQ1OR1Vk0SISEcGh'>

> **Question: Let's name as many creatures (or things) of the sea as you can!**
> Later, we will learn to add them to existing lists!
> 
> Example: Sea urchins, jellyfish and plastic bottles!


**Icebreaker answers:**

* Our answers! (jellyfish, surfers 🏄🏽‍♀️, etc.)

# **Recap: numbers and strings**

Last week, we learnt about `print()` statements, and objects: numbers and strings (words/letters).

Most things in Python are objects, from the numbers and strings, to a list of items, such as this list of prime numbers:
```
[2,3,5,7,11,13]
```

Now, here's my grocery list 🛒:
```
['apples','yams','bread','eggs','sour patch kids']
```

Lists start and end with square brackets: `[]`, with each item separated by a comma.

> Both of the above are lists, but they are different in one major way. **What do you think that is?**

# **Lists**

Lists are used to store multiple items in one collection.

### **Example: waves**
We can measure various wave properties, such as speed, height, and wave periods. For example, if you want to surf, you want to know how often the waves are arriving at your local beach. The timing between each wave is what we call a *wave period*

<img src='https://drive.google.com/uc?id=16OG2opyEKFgSBdFZ3EM86Ypqqt85zleh'>

Below, we have a bunch of measurements of wave periods. We can put all that data into one list:
```
# wave periods (in seconds) at Rockaway Beach
[7.8, 7.6, 8.5, 8.8, 7.9, 8.2]
```

What can we do with this list?
* We can count how many measurements were taken
* We can find the average wave period
* We can add more data
* We can select specific measurements

We will explore these actions in today's class.

## **`len()` command**
The `len()` command tells us the length of a list. While we could *manually* count the number of measurements, we can also use the `len()` command.

In [9]:
# an example of using len() with my groceries list
len(['apples','yams','bread','eggs','sour patch kids'])

5



This is especially useful when our lists get very long, as we will see later today!

> **So, how many measurements of wave periods were taken?**
>
> Here's the list of measurements again
>
> `# wave periods (in seconds) at Rockaway Beach`
>
> `[7.8, 7.6, 8.5, 8.8, 7.9, 8.2]`

In [10]:
# how many measurements of wave periods were taken?
# (how long is the list?)

Now, as we just experienced, retyping that list to enter into the `len()` command was not very efficient. This is when saving a list or other objects can come in handy.

We can save a list under a meaningful name.

> **Let's try naming our list of wave measurements.**

In [40]:
# storing our list with a meaningful name
wave_periods = [7.8, 7.6, 8.5, 8.8, 7.9, 8.2]

In [41]:
# try printing your list here!

In [43]:
# now try the len() command again on your list name instead!

## **Assigning Variables**
So, we've just assigned our list to a name. In Python, these names are called "variables"

**What are variables?**
> Variables are where we can store objects in our code. We can assign different types of objects (floats, integers, strings, lists, etc.) to variables

If we want to save something for later use, we need to assign them to variables.

Here is an example of assigning a variable to a number:

In [44]:
my_age = 77

Here is an example of assigning a variable to a string:

In [45]:
my_name = 'Suki'

> SOME THINGS TO NOTE:
>
> As you can see, the variable name is always on the left, and the value is on the right
>
> i.e. x = 2, NOT 2 = x
>
> It is typically helpful to pick a variable name that tells you about the object being stored

By assigning `my_name` and `my_age`, Python will remember these variables during the rest of this session.

In [46]:
print(my_age)

77

You can also reassign variables:

In [14]:
my_name = 'enter your name here'
print(my_name)

enter your name here

In [15]:
my_age = 'enter your age here'
print(my_age)

enter your age here

## **`append() command`**

In [63]:
sum(wave_periods)/len(wave_periods)

8.133333333333333

# **Mathematical operations**
Python can do math, much like a calculator

* to add, use `+`
* to subtract, use `-`
* to multiply, use `*`
* to divide, use `/`
* brackets can be used to infer the order of operations

In [16]:
# Try doing some math below! I'll start you off here,
15+4.4

19.4

In [17]:
# do some math: make sure to try a divison and a multiplication
2/3

0.6666666666666666

**Exercise**

> Earlier, we stored your age. What will your age be in 5 more years?
 **Calculate the answer by using `my_age` and a simple math operation**

In [18]:
# enter answer below

Mathematical operations are not limited to only numbers in Python. We can also add strings!

**Apples and Oranges!**
You can only add numbers to other numbers, OR strings to other strings.In order to add a number to a string, you need to convert the number to a string format first. For example:

In [19]:
print(my_name + ' is ' + str(my_age)  + ' years old.')

enter your name here is enter your age here years old.

## **Lists**

Lists can be made by using square brackets, `[]`

Let's put all our creatures from the icebreaker into a list:

In [47]:
class_creatures = ['seals','sunfish','great white','sting ray','sea turtle','starfish','jellyfish','iceberg']

We *could* manually count the length of our list, but a faster, more *pythonic* way to do this would be to use the `len()` command.

**What is the length of `class_creatures`?**

In [48]:
# type answer below

### Indexing and slicing

We can use a numerical index to access an individual or sequence of objects in a list.

In python, we always start counting from 0 
> Normal counting: 1, 2, 3, 4, 5, etc.
>
> Python counting: 0, 1, 2, 3, 4, etc.

In other words, the first item in `class_creatures`, has index **0**, and the second item has index **1**.

In [49]:
# the first item in class_creatures can be accessed
class_creatures[0]

'seals'

**What is the 5th item in the list?**

In [50]:
# enter answer below

> Here's a tip: you can always access the last item in a list, by using a -1 index.

**Give it a go. What happens if you try an index of -2?**

In [51]:
# try negative indices here

We can also select a sequence of items in the list by **slicing**: slicing works by specifying a start and end index.

**Try `class_creatures[0:3]`**

In [52]:
# try here

> Notice that the sliced result begins with your start index, but only goes up to and **not including** the end index
>
> To get a slice to the very end of the list, you can simply omit an end index, like so `class_creatures[3:]`
>
> Omitting the first index, will get your slice to start from the very beginning, though you can also just use an index of 0!

**Slice `class_creatures` starting from 'great white' to the last creature**

In [53]:
# slice here
class_creatures[2:]

['great white', 'sting ray', 'sea turtle', 'starfish', 'jellyfish', 'iceberg']

### Comparing
 
We can check if an item is in a list, using an `in` statement:

In [54]:
letters = ['a','b','c','d','e','f']
'z' in letters

False

> However, this is case sensitive, and also typo-sensitive!

In [55]:
'a' in letters, 'A' in letters

(True, False)

**Let's compare our creatures to a list of known species at Rockaways**

An example:
```
'starfish' in rockaway_species
```

In [56]:
# hefty list of known species at the Rockaways
rockaway_species = ['lobster','crabs','rock crab','blue crab',
           'ghost crab','horseshoe crab','barnacle',
           'spider crab','shrimp','seagull','herring gull',
           'wigeon','black bellied plover','plover','heron',
            'heron','pelican','blue heron','mallard','gannet',
            'piping plover','plover','alewife','anglerfish',
            'butterfish','eel','shad','silver perch','herring',
            'menhaden','moonfish','needlefish','sturgeon',
            'banded killifish', 'anchovy','black drum','seabass',
            'bluefish','crevalle jack','foureye butterflyfish',
            'flounder','seahorse','mummichog','pipefish','sea robin',
            'pufferfish','puffer','sunfish','toadfish','red hake',
            'hake','sand lance','scup','silver hake','striped bass',
            'bass','burrfish','mullet','winter flonder',
            'yellowtail flounder','basking shark','blue shark',
            'bull shark','great white shark','nurse shark',
            'sandbar shark','sand tiger shark','scalloped hammerhead',
            'shortfin mako shark','mako shark','thresher shark','cat sharks',
            'dogfish shark','rays','atlantic torpedo ray','cownose ray',
            'skates','clearnose skate','little skate','winter skate',
            'stingrays','roughtail stingray','dolphins','bottlenose dolphin',
            'grey seal','harbor seal','seals','porpoise','whales',
            'blue whale','fin whale','humpback whale',
            'north alantic right whale','jellyfish','moon jellyfish',
            'northern cup coral','starfish','northern sea star','scallops',
            'clams','mussels','oysters','quahog','squid','octopus',
            'whelk','periwinkle','mudsnail','oyster drill','worms',
            'red beard sponge','algae','sea lettuce']

In [57]:
# compare here

**How many items are there in the `rockaway_species` list?**

In [58]:
# answer here

### Appending

Items can be added to the list. Maybe you've observed a species on your last trip to the Rockaways that isn't on this list! To add, we can use the `append()` function

In [59]:
# appending example
rockaway_species.append('minke whale')

You can also remove items from a list with the `remove()` function

In [60]:
# to remove an item from a list
rockaway_species.remove('starfish')

The marine environment is always evolving, both naturally and forced by human-caused climate change.

We observe new species migrate to the Rockaways, and sometimes we see them move elsewhere, or decline in numbers. One cause for these permanent migrations could be due to the ocean temperature warming. Warming waters at the Rockaways allows warm water species to live here, while pushing away cold water species. You can think about how this affects other animals in the food web.

# **Extra: more math!**
Some more math if you want to try equations with multiple variables

**Example of how to solve this equation**
> If y = 2x + c,
>
> where x = 0.5 and c = 42
>
> **What is y?**

In [ ]:
# first assign variables
x = 0.5
c = 42

In [ ]:
# next, write the equation
y = 2*x + c

In [ ]:
# what is y?
y

43.0

**Exercise for you!**

> y = 2a$^{2}$ + 6b + c ,
>
> where a = 5, b = 2 and c = 3
>
> **What is y?**

In [ ]:
# assign the variables

In [ ]:
# write the equation

In [ ]:
# what is y

> Hint: to raise x to the power of 2, you can do `x**2`