<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week5_Salinity_Pandas_CHANGES_LG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 5: Ocean Salinity, Packages, and Pandas**

**Learning Goals**
- Learn about ocean salinity (10 min)
- What are Python packages? (5 min)
- `import` essential packages (5 min)
- Let's play with `pandas`! (20 min)

### **Icebreaker!**
> **How many oceans are there?** ðŸ¤”...

##### Sort of a trick question...

![Five Oceans](https://wakeuptodigital.files.wordpress.com/2019/02/oceans.jpg)

> In the field of oceanography there are five major ocean basins on this planet: Arctic, Atlantic, Indian, Pacific and Southern Ocean. 
>
> Oceanographers go even further and study the different kinds of "*water masses*" in the basins, and their influence on the earth's system. 

> **A water mass is a body of water with characteristic physical properties (like temperature and salinity).** For example you can imagine how water from the Artic Ocean might be a lot colder than water from the Carribean!

# **Recap**

- Indexing and slicing
- Logical statements

Are we just going to have this be a discussion?

> **We measure ocean temperature and depth with argo floats. What else do you think an Argo float measures in the water?**

# **Ocean Salinity**

### Salt vs Salinity

> **Salts** are compounds like sodium chloride, magnesium sulfate, potassium nitrate, and sodium bicarbonate which dissolve into ions.

> **Salinity** is the quantity of dissolved salt content of the water. It is measured as a mass fraction, or the ratio of dissolved salts (g) to a unit mass of water (kg). Often the unit for salinity is expressed as "practical salinity unit" (psu= $\frac{g}{kg}$).

### We all know that the ocean is salty, but why is it that way?

### First let's consider the hydrologic cycle...
<img src="https://ars.els-cdn.com/content/image/3-s2.0-B9780444627339000034-f03-04-9780444627339.jpg">

#### Just like how your sweat evaporates on a hot July day to keep you cool, the ocean also experiences evaporation!
>  BUT salt can't evaporate!  When ocean water evaporates it leaves the salt behind, **increasing** the salinity of the remaining water.

#### Some of this water that **evaporated** forms clouds which blow around and sometimes rain, snow, sleet over land.
> NOTE precipitation, rain, snow, sleet, also happens over the ocean!  It dilutes the salt content and **decreases** the salinity.

#### When this water rains onto land it forms rivulets and streams and creeks and brooks and kills and rivers and waterfalls, which flow through and erode away the surrounding rocks.

<img src = "https://s3-us-west-2.amazonaws.com/courses-images-archive-read-only/wp-content/uploads/sites/459/2015/06/21062403/Fig_11_2_1_3.jpg">

#### It is these eroded and dissolved rocks that add salts to our rivers and streams.  These rivers and streams flow into the ocean bringing this salt with them.

### **But rivers don't taste salty???**

#### True, but Earth's oceans are very old!  This process of increasing the salinity of the ocean likely took hundreds of millions of years!

#### **AND** There is another source of salt...

<img src = "https://www.researchgate.net/profile/Hany_Elosta/publication/230758678/figure/fig3/AS:669043681918977@1536523852155/Active-Hydrothermal-Vent-Site-Black-Smoker-Source-MARUM-Research-Center-Ocean-Margins.png">

## **Hydrothermal Vents**

#### Many placees of the ocean are geologically active, hosting earthquakes and undersea volanos!  Juse like water forms rivers and erodes rocks on land, under the ocean seawater seeps into the ocean floor, eroding and dissolving the surrounding rock.  At these geologically active sites, this oceanic 'ground water' gets very very very hot and is returned to the ocean via these hydrothermal vents.  This is another source of salt!

## Now that we know why the ocean is salty one more question - does the whole ocean have the same salinity?

<img width=800 src="https://smap.jpl.nasa.gov/system/news_items/main_images/1265_SMAP_salinity.jpg">

#### No!  Above is a map of the salinity of the water at the ocean surface with lighter blue colors indicating low salinity and reds and oranges high salinity.

> **Based on the figure above...**
>
> **1) Which ocean basin is the saltiest/freshest?**
>
> **2) What is the average salinity of the ocean?**
>
> **3) What else do you notice about the patterns of low and high salinity?  Remember the hydrologic cycle!**

# **Python Packages**
(Ding, Ding) You've got mail!

[Python Packages Index (PyPi)](https://pypi.org/)

* A module is a file containing Python code. 
* A package, however, is like a directory that holds sub-packages and modules. A package must hold the file **`__init__`.**py. This does not apply to modules.
* Packages are a way of structuring Pythonâ€™s module namespace by using â€œdotted module namesâ€ (e.g `A.B` --> `plt.plot()`.

I think this explanation is too technical...I don't personally understand it so I'm not sure I'm the best one to revise it.  Maybe some of Una's 'toolbox' language???

#### **These are examples essential Python packages we use all the time!**

- `numpy` lets us do all kinds of mathematical operatrions to different groupings of numbers

- `pandas` we will talk about this below
- `matplotlib` is used to make plots and graphs (more in week 7!)

> **How do we get packages into our notebooks?**
>
> We `import` them!
>
> In this form:
> `import` name_of_package
>
> Often we give the package a shorter nickname so we don't have to always type out the whole name
>
> To do this we write: `import` name_of_package `as` nickname

In [3]:
# Here we import our essential packages and give them easy nicknames
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# **Pandas**

<img width="400" src='https://miro.medium.com/max/1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg'>

>No but seriously, `pandas` is a Python library that allows for efficient, high-performing analysis on _tabular_ data (i.e. data in a table, like an excel sheet).

### **There are two main data structures in pandas**

> **Data Series**: 1-dimensional array of values with an index
>
> **Data Frame**: 2-dimensional array of values with a row and a column index

<img width="500" src='https://miro.medium.com/max/1400/1*o5c599ueURBTZWDGmx1SiA.png'>

> **Confused?** Anytime you need more information on a package/function, call `?` after the function name.

In [5]:
#in this cell use the ? to learn more about the pands (pd) package

#### **Example of a pandas Data Series:**
> In the cell below we create 2 lists, one of ocean basin names (strings!) and another of the average salinity in each one of those basins (numbers! A mixture of floats and integers!)

> We also create a pandas dataseries we call ds
>
> to do this we use the series command:
>
> `pd.Series(data = ` name_of_the_data_list `, index = ` name_of_the_index_list `, name = ` give_data_series_a_name `)`

In [6]:
ocean_basins = ['Arctic', 'Atlantic', 'Indian', 'Pacific', 'Southern'] # index name list
avg_salinity = [32, 35, 34.5, 35, 34.7] # data list

ds = pd.Series(data=avg_salinity, index=ocean_basins, name="Ocean basins' average salinities") # creating data series

> To see the dataseries, just type its name into the code cell

In [10]:
ds

Arctic      32.0
Atlantic    35.0
Indian      34.5
Pacific     35.0
Southern    34.7
Name: Ocean basins' average salinities, dtype: float64

> To see the index entries type dataseries_name`.index`
>
> **Try it out in the cell below!**

In [15]:
# Look at the index entries of our dataseries ds

### **Indexing**

> When we want to know the data entry assoicate with a specific index entry we can use the `.loc` attribute
>
> dataseries_name`.loc["`index_entry`"]`

In [16]:
# Here we want to know the salinity of the Southern Ocean
ds.loc['Southern']

34.7

> What's the salinity of the Indian Ocean?

In [17]:
# You try here!

> We can also use the numerical position of the index using `.iloc`

In [23]:
ds.iloc[4] # this gives us the data entry of the fifth index (remember python starts counting at 0!)

34.7

> We can pass a list or array to `loc` to get multiple rows back:

In [20]:
ds.loc[['Arctic', 'Atlantic']]

Arctic      32.0
Atlantic    35.0
Name: Ocean basins' average salinities, dtype: float64

> And we can even use slice notation

In [21]:
ds.loc['Arctic':'Indian']

Arctic      32.0
Atlantic    35.0
Indian      34.5
Name: Ocean basins' average salinities, dtype: float64

In [22]:
ds.iloc[:3]

Arctic      32.0
Atlantic    35.0
Indian      34.5
Name: Ocean basins' average salinities, dtype: float64

> What are the average salinities of the Atlantic, Indian, and Pacific Oceans?

In [ ]:
# Try using .loc or .iloc to find the salinity entries for more than one index

> **Print the following statements using your choice of indexing/slicing.**

In [24]:
#This might be a little tricky, so here is an example.
print('My research area takes place in the ocean basin that has an average salinity of ' 
      + str(ds.loc['Southern']) 
      + 'psu. That is, the ' 
      + ds.index[-1] 
      + ' ocean.')

My research area takes place in the ocean basin that has an average salinity of 34.7psu. That is, the Southern ocean.

In [ ]:
# What is the saltiest ocean basin?
print('<Your answer here>')

In [ ]:
# Which ocean basins have the same average salinity?
print('<Your answer here>')

In [ ]:
# Which ocean basin would you like to explore?
print('<Your answer here>')

#### **Example of a pandas Data Frame:**

####Remember a data frame is like a data series, except we will have more than one column of data
> To make our data frame we create three lists, one of the index entries, and two of the data entries.
>
> Next we put our data entries into a **dictionary**
>
> A **dictionary** in python is similar to a dictionary in real life!  It is made up of *keys* and *values*.  We can think of the keys as the word we want to define and the values as the definition.  
>
> We set up a dictionary like this:
>
> name_of_dictionary = {"key_1" : data_list1, "key2" : data_list2}
>
> The keys are just names we make up to describe our data lists, take a look at the example below

In [26]:
ocean_basins = ['Arctic', 'Atlantic', 'Indian', 'Pacific', 'Southern'] # here is the index list
avg_salinity = [32, 35, 34.5, 35, 34.7] # this is data list 1
avg_temp = [-1.8, 14, 22, 20, 4] # this is data list 2

avg_data = {'avg_salinity': avg_salinity,
        'avg_temp': avg_temp} # this is our dictionary, note how we gave useful descriptive names (keys) to our fata lists

> Finally, to create our dataframe we use the `pd.DataFrame` command:
>
> name_of_dataframe = `pd.DataFrame(data = `data_dictionary` , index = ` index_list `)`

In [27]:
# Here we put our index list and data dictionary into a dataframe we call df

df = pd.DataFrame(data=avg_data, index=ocean_basins)

In [28]:
# Let's see what it looks like
df

          avg_salinity  avg_temp
Arctic            32.0      -1.8
Atlantic          35.0      14.0
Indian            34.5      22.0
Pacific           35.0      20.0
Southern          34.7       4.0

> Note that the keys we chose are now the names of the columns

> We can also learn more about the dataframe using the `.info()` command

In [31]:
# Let's learn more about the dataframe we created
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Arctic to Southern
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   avg_salinity  5 non-null      float64
 1   avg_temp      5 non-null      float64
dtypes: float64(2)
memory usage: 120.0+ bytes

> You can use many statistical functions on both Series and DataFrames.

In [33]:
df.min()

avg_salinity    32.0
avg_temp        -1.8
dtype: float64

In [32]:
df.max()

avg_salinity    35.0
avg_temp        22.0
dtype: float64

In [34]:
df.mean()

avg_salinity    34.24
avg_temp        11.64
dtype: float64

> Or, if you want all the basic stats, you can call `describe()`

In [36]:
df.describe()

       avg_salinity   avg_temp
count      5.000000   5.000000
mean      34.240000  11.640000
std        1.270039  10.268788
min       32.000000  -1.800000
25%       34.500000   4.000000
50%       34.700000  14.000000
75%       35.000000  20.000000
max       35.000000  22.000000

> We can get a single column as a Series using python's getitem syntax on the DataFrame object...
>
>`dataframe_name['column_name']`

In [42]:
df['avg_salinity']

Arctic      32.0
Atlantic    35.0
Indian      34.5
Pacific     35.0
Southern    34.7
Name: avg_salinity, dtype: float64

> ...or using attribute syntax
>
> `dataframe_name.column_name`

In [38]:
df.avg_salinity

Arctic      32.0
Atlantic    35.0
Indian      34.5
Pacific     35.0
Southern    34.7
Name: avg_salinity, dtype: float64

> Now you try!  In the cell below get the avg_temp column as a series

In [41]:
# use df['column_name'] or df.column_name to get the avg_temp