<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Using pandas to open .csv files!
#Una

# This week's goals:


- Learn about CTDs

- What are python packages? 

- Open   some   data   using   pandas 

- Find   maximum   and   minimum 

- Find   mean 

- Make   a   new   column 

- Review   best   coding   practices

# What do this seal and an Argo float have in common?

In [2]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://static.skepticalscience.com/pics/Weddell_Seal_DanCosta.jpg")

# They are both collecting measurements of salinity and temperature in the ocean! 

They do so with what we call a "CTD package", where CTD stands for:
- Conductivity (as in electrical conductivity... salts are ionic compounds, meaning they carry a charge that we can use to estimate how salty) the water is 
- Temperature (self explanatory c: )
- Depth (estimated from pressure. Pressure increases approximately 10 decibars every 10 meters you go down from the surface)

# As a professor in our department likes to say, CTDs are the bread and butter of oceanography. 

This is because temperature and salinity are a fundamental way to understand what's happening in the ocean. Where are water masses coming and going? How are they being mixed together? What kind of microorganisms can live here? How much Co2 can this water hold? 

Today we'll work with some CTD depth profiles and compare how they differ between two very different places on Earth - the sunny tropics and freezing-cold Antarctica! And once you've worked with CTD data, you're a true oceanographer.

# How will we import the CTD data?

With pandas!

In [4]:
Image(url= "https://media.giphy.com/media/z6xE1olZ5YP4I/giphy.gif")

Pandas is a python package - a toolbox of sorts. The Pandas package lets us look at text data easily and elegantly.

In [11]:

import pandas as pd

In [26]:
Antarctica = pd.read_csv('https://raw.githubusercontent.com/pyclub-cu/classes/master/data/ct4-9908-04_ODV.csv', header = 1, delim_whitespace=True)

In [25]:
import matplotlib.pyplot as plt

In [27]:
test

             Cruise  Station Type  ... QF.1 Salinity[PSU]  QF.2
0       ct4-9908-04        1    C  ...    0       33.2968   0.0
1       ct4-9908-04        1    C  ...    0       33.3088   0.0
2       ct4-9908-04        1    C  ...    0       33.3208   0.0
3       ct4-9908-04        1    C  ...    0       33.3329   0.0
4       ct4-9908-04        1    C  ...    0       33.3449   0.0
...             ...      ...  ...  ...  ...           ...   ...
111574  ct4-9908-04      260    C  ...    0        1.0000   NaN
111575  ct4-9908-04      260    C  ...    0        1.0000   NaN
111576  ct4-9908-04      260    C  ...    0        1.0000   NaN
111577  ct4-9908-04      260    C  ...    0        1.0000   NaN
111578  ct4-9908-04      260    C  ...    0        1.0000   NaN

[111579 rows x 13 columns]

In [42]:
Tropics = pd.read_csv('https://raw.githubusercontent.com/pyclub-cu/classes/master/data/CTD_for_pyclub_mooringsite.csv', header = 0)

In [43]:
Tropics

      pressure     depth  temperature  Salinity    density   oxygen
0            2     1.989      29.0046   33.8873  1021.2380  2.92979
1            3     2.983      28.5072   33.9911  1021.4852  3.07316
2            4     3.978      28.4227   34.0155  1021.5356  2.97615
3            5     4.972      28.4160   34.0162  1021.5426  3.35803
4            6     5.967      28.3491   34.0355  1021.5833  3.55787
...        ...       ...          ...       ...        ...      ...
2016      2018  1997.279       3.6856   34.6069  1036.7238  1.31071
2017      2019  1998.264       3.6832   34.6070  1036.7287  1.30772
2018      2020  1999.249       3.6836   34.6071  1036.7332  1.31057
2019      2021  2000.234       3.6842   34.6070  1036.7375  1.31041
2020      2022  2001.219       3.6834   34.6069  1036.7421  1.30800

[2021 rows x 6 columns]