<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week_3_Lists_and_Maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 3:** Lists, variables, and maths

**Learning Objectives**
* Learn about lists (15 mins)
* Learn how to assign variables (10 mins)
* Learn about indexing and slicing (10 mins)
* Do some math calculations! (10 mins)

### **Icebreaker!**
<img src='https://drive.google.com/uc?id=10o4W7pFpFvN6hspQjQ1OR1Vk0SISEcGh'>

> **Question: Let's name as many creatures (or things) of the sea as you can!**
> Later, we will learn to add them to existing lists!
> 
> Example: Sea urchins, jellyfish and plastic bottles!


**Icebreaker answers:**

* Our answers! (jellyfish, surfers ðŸ„ðŸ½â€â™€ï¸, sea snails, etc.)

# **Recap: numbers and strings**

Last week, we learnt about `print()` statements, and objects: numbers and strings (words/letters).

Most things in Python are objects, from the numbers and strings, to a list of items, such as this list of prime numbers:
```
[2,3,5,7,11,13]
```

Now, here's my grocery list ðŸ›’:
```
['apples','yams','bread','eggs','sour patch kids']
```

Lists start and end with square brackets: `[]`, with each item separated by a comma.

> Both of the above are lists, but they are different in one major way. **What do you think that is?**

# **Lists**

Lists are used to store multiple items in one collection.

### **Example: marine life!**
Let's put our ice breaker answers into a list:

In [1]:
# ice breaker creatures

What can we do with this list?

* We can count how many creatures we came up with
* We can learn how to select specific items in the list
* We can add more creatures!

## **`len()` command**
The `len()` command tells us the length of a list. While we could *manually* count the length, we can also use the `len()` command.

In [ ]:
# an example of using len() with my groceries list
len(['apples','yams','bread','eggs','sour patch kids'])

5



This is especially useful when our lists get very long.

> **So, how many creatures are in our list?**

In [2]:
# how many creatures are in our list?

Now, as we just experienced, retyping that list to enter into the `len()` command was not very efficient. This is when saving a list or other objects can come in handy.

We can save a list under a meaningful name.

> **Let's try naming our list of creatures**

In [ ]:
# storing our list with a meaningful name
creatures = #copy list

In [ ]:
# try printing your list here!

In [ ]:
# now try the len() command again on your list name instead!

## **Assigning Variables**
So, we've just assigned our list to a name. In Python, these names are called "variables"

**What are variables?**
> Variables are where we can store objects in our code. We can assign different types of objects (floats, integers, strings, lists, etc.) to variables

If we want to save something for later use, we need to assign them to variables.

Here is an example of assigning a variable to a number:

In [ ]:
my_age = 77

Here is an example of assigning a variable to a string:

In [ ]:
my_name = 'Suki'

> SOME THINGS TO NOTE:
>
> As you can see, the variable name is always on the left, and the value is on the right
>
> i.e. x = 2, NOT 2 = x
>
> It is typically helpful to pick a variable name that tells you about the object being stored

By assigning `my_name` and `my_age`, Python will remember these variables during the rest of this session.

In [ ]:
print(my_age)

77

You can also reassign variables:

In [3]:
my_name = '<enter your name here>'
print(my_name)

<enter your name here>

In [4]:
my_age = '<enter your age here>'
print(my_age)

<enter your age here>

## **Indexing**
Now that we've stored our list as a variable, we can more easily access it! Hooray!

What if we want to access a specific item in the list? We can do this with **indexing**.

> Python indexing is a numbering system that starts from zero 

Take a look at our groceries list:

<img src='https://drive.google.com/uc?id=124cKVTYKX6a9m2k6lguiNPOqw4qoWY7h'>

Starting with 0, we can associate each item with an index number

In [ ]:
groceries = ['apples','yams','bread','eggs','sour patch kids']
# the first item in the list has index 0
groceries[0]

'apples'

In [ ]:
# try to select a different item from groceries using indexing

Because we start indexing from 0, the last index of a list is always one less than the list length

In [ ]:
# last item of groceries has index 4
groceries[4]

> Here's a tip: you can always access the last item in a list by using a -1 index.
>
> **Give it a go. What happens if you try an index of -2?**

In [ ]:
# try using a -1 index

In [ ]:
# try using a -2 index


> **Now try to get the first creature from our creatures list!**

In [ ]:
# the first creature


> **Now try to get the last creature from our creatures list!**

In [ ]:
# the last creature

## **Slicing**

We can also select a sequence of items in the list by **slicing**: slicing works by specifying a start and end index.

> **Try `creatures[0:3]`**

In [5]:
# try here

> Notice that the sliced result begins with your start index, but only **goes up to and not including** the end index


> TIP: to get a slice to the very end of the list, you can simply omit an end index, like so

In [ ]:
# slicing from the 3rd item ('bread') to the last item of groceries
groceries[2:]

['bread', 'eggs', 'sour patch kids']

> **Slice `creatures` starting from 'sea snails' to the last creature**

In [ ]:
# here's the list for reference
print(creatures)

['jellyfish', 'surfers', 'sea snails']

In [6]:
# slice from 'sea snails' to the LAST creature

# **Marine life seen at Rockaway Beach**

<img src='https://drive.google.com/uc?id=10GLI1eLUNSLZKBvStbOnI56vYYmgFKIB'>

Here's a list of some of the living things that have been spotted at the Rockaways!

In [ ]:
# big list of somes species at the Rockaways
rockaway_species = ['lobster', 'crabs', 'shrimp', 'seagull','heron', 'pelican',
                    'eel', 'herring', 'needlefish', 'sturgeon', 'anchovy',
                    'seabass', 'seahorse','mummichog', 'pufferfish', 'sunfish',
                    'striped bass', 'blue shark', 'bull shark', 'nurse shark',
                    'sandbar shark', 'scalloped hammerhead', 'mako shark', 
                    'thresher shark', 'atlantic torpedo ray', 'little skate',
                    'roughtail stingray', 'bottlenose dolphin', 'grey seal',
                    'blue whale', 'fin whale', 'north alantic right whale',
                    'humpback whale', 'moon jellyfish', 'starfish', 'clams',
                    'mussels', 'oysters', 'algae', 'sea lettuce']

> **How long is this list?**

In [ ]:
# number of species

Items can be added to the list. Maybe you've observed a species on your last trip to the Rockaways that isn't on this list! To add, we can use the `append()` function

In [ ]:
# appending example
rockaway_species.append('minke whale')

We can also add our `creatures` list to `rockaway_species` by using addition, +, like in math!

`list_one + list_two`

> **Let's add the `creatures` list to `rockaway_species`**

In [7]:
# add creatures to rockaway_species

In [8]:
# rename updated list

# **Mathematical operations**

Python can do math, much like a calculator

* to add, use `+`
* to subtract, use `-`
* to multiply, use `*`
* to divide, use `/`
* brackets can be used to infer the order of operations

**Exercise**

> Earlier, we stored your age. What will your age be in 5 more years?
>
> **Calculate the answer by using `my_age` and a simple math operation**

In [ ]:
# enter answer below

Mathematical operations are not limited to only numbers in Python. We've added lists, and we've also added numbers. We can also add strings!

> **ATTENTION: Apples and Oranges!**
>
> You can only add numbers to other numbers, OR strings to other strings.In order to add a number to a string, you need to convert the number to a string format first. For example:

In [ ]:
print(my_name + ' is ' + str(my_age)  + ' years old.')

Suki is 77 years old.

In [9]:
# try your own sentence below

# **Extra: more math!**
Some more math if you want to try equations with multiple variables

**Example of how to solve this equation**
> If y = 2x + c,
>
> where x = 0.5 and c = 42
>
> **What is y?**

In [ ]:
# first assign variables
x = 0.5
c = 42

In [ ]:
# next, write the equation
y = 2*x + c

In [ ]:
# what is y?
y

43.0

**Exercise for you!**

> y = 2a$^{2}$ + 6b + c ,
>
> where a = 5, b = 2 and c = 3
>
> **What is y?**

In [ ]:
# assign the variables

In [ ]:
# write the equation

In [ ]:
# what is y

> Hint: to raise x to the power of 2, you can do `x**2`

**Summary of today's class**
* Learn about lists
* Learn how to assign variables
* Learn about indexing and slicing
* Do some math calculations!

# **Dictionaries**

We've seen that we can access items in a list by using numerical indices. You can also index with words. This is used in Python dictionaries, _another_ type of Python object.

* Much like lists, dictionary items are separated by commas.
* Unlike lists, dictionaries begin and end with curly brackets `{}`
```
d = {
    <key>: <value>,
    <key>: <value>,
    ...
    <key>: <value>
}
```

> The "index" of a dictionary are called **keys**
>
> The associated **values** can be numbers, strings, or lists.

In [ ]:
# a dictionary for a shark tracked at https://www.ocearch.org/
Finn = {'species': 'white shark',
        'length [m]': 1.5,
        'weight [lbs]': 79.2,
        'GPS ping': 'Long Beach, NY'
}

# another shark
Bonac = {'species': 'blue shark',
        'length [m]': 2.9,
        'weight [lbs]': 216,
        'GPS ping': 'Atlantic Ocean'
    
}