<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 4:** Ocean temperatures and robotic floats

## Learning Objectives:
* Learn about ocean temperature (10 mins)
* Learn about what Argo floats are (10 mins)
* Understand the concept of quality control (10 mins)
* Write Boolean statements (10 mins)
* Write if statements (10 mins)


### **Icebreaker!**

> **Question: What do you like to do to keep cool when it's really hot outside? What temperature do you think it is when it's really hot in New York?**
>
>Think about what the highest and lowest temperatures in the ocean might be. Would you believe someone who told you that where they lived it was 400$^\circ$F?

# **Recap of lists and printing**

Here is a list of species of sea turtle (for more information, go here https://www.seeturtles.org/sea-turtle-diet):

In [ ]:
turtle_species = ['green',
                  'leatherback',
                  'loggerhead',
                  'hawksbill',
                  'Olive ridley',
                  'Kemps Ridley',
                  'Flatback']

Here is a list of what each species eats:

In [ ]:
turtle_food = ['algae, seagrasses, and seaweed',
               'jellyfish',
               'crabs, conchs, whelks, and horseshoe crabs',
               'sponges',
               'crabs, shrimp, lobster, urchins, jellies, algae, and fish',
               ' crabs, fish, jellies, shrimp, and a variety of molluscs',
               'sea cucumbers, jellies, soft corals, shrimp, crabs, molluscs, fish, and seaweed']

Remember that we can slice and print like this

In [ ]:
print('There are lots of species of sea turtles, including ' 
      + turtle_species[0] + ' sea turtles and ' 
      + turtle_species[1] + ' sea turtles')

> **Print a sentence about one of the species by slicing `turtle_food` and `turtle_species`.**

In [ ]:
print('Write your sentence here')

> **What is there in the ocean that sea turtles shouldn't eat (but sometimes do)?**

# **Ocean temperature**

Here is a video of surface ocean temperature between 2008 and 2019.

In [ ]:
#This code embeds the video below. You don't need to run it.
from IPython.display import HTML

HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/xvbV9llG5L8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

> The ocean's temperature is different in different places and at different times. 
>
>**What factors affect ocean temperature?**

In [ ]:
print("Write the reasons temperature in the ocean might be larger or smaller than normal.")

Here's a picture that might help:

![Tilted earth](https://www.lpi.usra.edu/education/skytellers/seasons/images/fig2.jpg)

>The maximum temperature of the ocean (away from hydrothermal vents) is about 88$^\circ$F, or 30$^\circ$C.
>The minimum temperature of the ocean is about 28$^\circ$F, or -2$^\circ$C. 
>
>**Why is the minimum temperature of the ocean -2$^\circ$C?**

In [ ]:
print("Write the reason the ocean's minimum temperature is -2C.")

**Why do we care about ocean temperature?**

# **Measuring ocean temperature with robotic floats**

One way that oceanographers measure temperature is using **Argo floats**. 

Argo floats are robotic floats that look like this:


![Natalie_Freeman_Argo.jpeg](https://soccom.princeton.edu/sites/default/files/imagesimages/Natalie_Freeman_AndrexII_2019.jpeg)
![Earle_argo.jpg](https://www.mbari.org/wp-content/uploads/2020/10/soccom-float-carry-640.jpg)

We drop Argo floats into the ocean from a boat, and then they move up and down, measuring temperature. They send the measurements back to us through satellites. They last for 3-5 years. 

![argo_cycle.png](https://www.researchgate.net/profile/Taiyo_Kobayashi/publication/236890021/figure/fig2/AS:299424635998209@1448399804347/Schematic-diagram-of-float-operation-in-the-ocean-under-Argo.png)

### **What is Quality Control?**

Sometimes Argo floats don't measure the ocean accurately. This often happens because of **bio-fouling.** 

>Bio-fouling is when plants or animals grow or get caught on a piece of equipment. 

This happens a lot in the ocean. The picture below is a glider that has been in the ocean for several months. It moves in the ocean horizontally. We expect that Argo floats also have things growing on them, but nobody retrieves Argo floats, so we don't have any pictures. 

![Biofouling-on-glider.png](https://www.researchgate.net/profile/C_Nichols2/publication/342932620/figure/fig3/AS:927701548408833@1598192693139/Biofouling-on-an-Ocean-Observatories-Initiative-OOI-ocean-glider-recovered-by-the.png)

>Because of biofouling, sometimes our floats don't record the correct temperature. When this happens, the measurement is usually **very different** from the measurement we would expect.  

Here is an example of some temperature data. 

> **Which temperature do you think is wrong?**

In [ ]:
#Depth of Argo float in meters
argo_depth = [-10, -20, -30, -40, -50, 
              -60, -70, -80, -90, -100, 
              -120, 140, -160, -180, -200, 
              -220, -240, -260, -280, -300]

#Temperature measurements in degrees C
argo_temp = [18.4, 18.3, 18.3, 18.1, 17.3, 
             16.8, 80, 12.2, 8.4, 3.4, 
             3.3, 2.5, 2.1, 2.1, 2.1, 
             2.1, 2.1, 2.0, 2.0]

We would like to automatically identify temperatures that are not realistic. We can do this using *Booleans*.

But let's take a break here!

# **What is a Boolean?**

>A Boolean value is a type of Python object that can only have two values: `True` or `False`. 

Python will automatically create a Boolean value if you use a Boolean operator, like `<` (less than), `>` (greater than), `==` (equal to) or `!=` (not equal to). For example, if `a=1` and `b=2`, and we ask python whether `a>b`.

In [ ]:
a = 1
b = 2

print(a>b)

But if we do:

In [ ]:
print(a<b)

Python tells us that that is `True`. 

> **Now try for yourself: practice changing the values of `a` and `b` in the next cell and predict whether the output will be `True` or `False`.**

In [ ]:
a = 1
b = 2

print(a==b)

> The single `=` is for assigning variables and the double `==` is for using Booleans to check whether two values are equal. 

We can use these Boolean operators to find the bad values in the list of temperature measurements.

Another Boolean operator is `in`. It is used to check whether a particular item exists in a list, for example

In [ ]:
#create new list
oceans = ['Atlantic','Pacific','Indian','Southern']

In [ ]:
#check whether 'Atlantic' is in this list:
'Atlantic' in oceans

True

In [ ]:
#check whether 'Arctic' is in this list:
'Arctic' in oceans

> **Write your own code to check whether `'Pacific'` is in the list**

In [ ]:
#Write your own code here

Below is a list of species found at the Rockaways, from last lecture.

In [ ]:
# big list of somes species at the Rockaways
rockaway_species = ['lobster', 'crabs', 'shrimp', 'seagull','heron', 'pelican',
                    'eel', 'herring', 'needlefish', 'sturgeon', 'anchovy',
                    'seabass', 'seahorse','mummichog', 'pufferfish', 'sunfish',
                    'striped bass', 'blue shark', 'bull shark', 'nurse shark',
                    'sandbar shark', 'scalloped hammerhead', 'mako shark', 
                    'thresher shark', 'atlantic torpedo ray', 'little skate',
                    'roughtail stingray', 'bottlenose dolphin', 'grey seal',
                    'blue whale', 'fin whale', 'north alantic right whale',
                    'humpback whale', 'moon jellyfish', 'starfish', 'clams',
                    'mussels', 'oysters', 'algae', 'sea lettuce']

> **Using python, find out whether `'bottlenose dolphin'` is in the list**

In [ ]:
#Write your code here

# **If statements**
Boolean values are really useful in **if statements**. Here's an example.

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')

> Because `a` and `b` are not equal in the above example, there is no output. 
>
> **Try changing `a` and `b` to be equal and running the cell again.**

The layout of the code is important. The indent before the `print` statement tells the code that the `print` statement is inside the `if`.

If we add more code with an indent, that code is *inside* the `if`.

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')
  print('This is inside the if statement')

> **Try changing `a` and `b` to be equal and run the above cell again.**

If we add more code without an indent, that code is *outside* the `if`, so it will run whether or not `a==b` is `True`. 

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
  print('a is equal to b')
print('This is outside the if statement')

> **Try changing `a` and `b` to be equal and run the above cell again.** 

Python expects there to be *some code* inside the `if`. So if there is no indent on the next line, the code will give an error. 

> **Run the code below. What is the output? Why?**

In [ ]:
a = 1
b = 2

if (a==b):
print('a is equal to b')

# Using if statements to find incorrect measurements
We would like to write some code that tells us if our measurement is not realistic, i.e. if it is hotter than 30$^{\circ}$C or colder than -2$^{\circ}$C. 

The next cell checks if the measurement is above 30$^{\circ}$C.

> **Run the code below. What is the output? Why?**

In [ ]:
measurement = 31
if measurement>30:
  print('The measurement is too hot, so we should discard it')

The measurement is too hot, so we should disguard it

> **In the next cell, write code that warns us if `measurement` is colder than -2$^{\circ}$C.**

In [ ]:
#Your code here

Remember we wanted to find out which of the temperatures is wrong. Now we can do this automatically:

In [ ]:
#Depth of Argo float in meters
argo_depth = [-10, -20, -30, -40, -50, 
              -60, -70, -80, -90, -100, 
              -120, 140, -160, -180, -200, 
              -220, -240, -260, -280, -300]

#Temperature measurements in degrees C
argo_temp = [18.4, 18.3, 18.3, 18.1, 17.3, 
             16.8, 80, 12.2, 8.4, 3.4, 
             3.3, 2.5, 2.1, 2.1, 2.1, 
             2.1, 2.1, 2.0, 2.0]

In [ ]:
measurement = argo_temp[4]
if measurement>30:
  print('The measurement is too hot, so we should discard it')

## Learning Objectives:
* Learn about ocean temperature (10 mins)
* Learn about what Argo floats are (10 mins)
* Understand the concept of quality control (10 mins)
* Write Boolean statements (10 mins)
* Write if statements (10 mins)