<a href="https://colab.research.google.com/github/pyclub-cu/classes/blob/master/Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Using pandas to work with data**

# This week's goals:


- Learn about CTDs

- What are python packages? (review)

- Open   some   data   using the python "pandas" package 

- Find   maximum   and   minimum 

- Find   mean 

- Make   a   new   column 

- Review   best   coding   practices

In [2]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://media.giphy.com/media/QYwMxfDpoH3VBfPEET/giphy.gif")

#Ice breaker

What show is this gif from? \
What does this seal below have in common with an Argo float?

In [2]:
Image(url= "https://static.skepticalscience.com/pics/Weddell_Seal_DanCosta.jpg")

#CTDs!! What are they?
Arguably the most important instrument package in oceanography. CTD stands for: 
- **C**onductivity (as in electrical conductivity... which we use to measure salinity! Salts are ionic compounds, meaning they carry a charge that we can quantify)
- **T**emperature 
- **D**epth (as calculated from measurements by a pressure sensor! Pressure increases approximately 10 decibars every 10 meters you go down from the surface, so if you have a pressure measurements, you have a depth)

As a professor in our department likes to say, CTDs are the bread and butter of oceanography.

This is because **temperature and salinity are a fundamental way to understand what's happening in the ocean**. Where are water masses coming and going? How are they being mixed together? What kind of microorganisms can live here? How much Co2 can this water hold? 

Even ocean modellers who never set food on a research vessel rely on CTD measurements to run and check their models.

*Today we'll work with some CTD depth profiles and compare how they differ between two very different places on Earth - the sunny tropics and freezing-cold Antarctica!*

Before we work with CTD data though...

#How do we import data files into python?

One very useful tool for doing so is "pandas".

In [3]:
Image(url= "https://media.giphy.com/media/z6xE1olZ5YP4I/giphy.gif")

Pandas is a python package, which we learned last week is a library of functions packaged together to help with a specific aspect of data analysis - a toolbox of sorts. The pandas package is a toolbox for viewing and perfoming calculations on tabular data.

Tabular data is just data that comes in rows and columns. This is how instruments output the data they have acquired, so as an oceanographer, you will be working with tabular data often! It often comes in file formats such as *.ascii* and *.txt*.

In [1]:

import pandas as pd

In [2]:
Antarctica = pd.read_csv('https://raw.githubusercontent.com/pyclub-cu/classes/master/data/ct4-9908-04_ODV.csv', header = 1, delim_whitespace=True)

In [4]:
Antarctica

             Cruise  Station Type  ... QF.1 Salinity[PSU]  QF.2
0       ct4-9908-04        1    C  ...    0       33.2968   0.0
1       ct4-9908-04        1    C  ...    0       33.3088   0.0
2       ct4-9908-04        1    C  ...    0       33.3208   0.0
3       ct4-9908-04        1    C  ...    0       33.3329   0.0
4       ct4-9908-04        1    C  ...    0       33.3449   0.0
...             ...      ...  ...  ...  ...           ...   ...
111574  ct4-9908-04      260    C  ...    0        1.0000   NaN
111575  ct4-9908-04      260    C  ...    0        1.0000   NaN
111576  ct4-9908-04      260    C  ...    0        1.0000   NaN
111577  ct4-9908-04      260    C  ...    0        1.0000   NaN
111578  ct4-9908-04      260    C  ...    0        1.0000   NaN

[111579 rows x 13 columns]

In [3]:
import matplotlib.pyplot as plt

In [7]:
Tropics = pd.read_csv('https://raw.githubusercontent.com/pyclub-cu/classes/master/data/CTD_for_pyclub_mooringsite.csv', header = 0)

In [8]:
Tropics

      pressure     depth  temperature  Salinity    density   oxygen
0            2     1.989      29.0046   33.8873  1021.2380  2.92979
1            3     2.983      28.5072   33.9911  1021.4852  3.07316
2            4     3.978      28.4227   34.0155  1021.5356  2.97615
3            5     4.972      28.4160   34.0162  1021.5426  3.35803
4            6     5.967      28.3491   34.0355  1021.5833  3.55787
...        ...       ...          ...       ...        ...      ...
2016      2018  1997.279       3.6856   34.6069  1036.7238  1.31071
2017      2019  1998.264       3.6832   34.6070  1036.7287  1.30772
2018      2020  1999.249       3.6836   34.6071  1036.7332  1.31057
2019      2021  2000.234       3.6842   34.6070  1036.7375  1.31041
2020      2022  2001.219       3.6834   34.6069  1036.7421  1.30800

[2021 rows x 6 columns]